html, body {
    margin: 0;
    padding: 0;
}

#root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#input-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    --ring-radius: 200px;
    --ring-width: 12px;
}

#input-viz-ring {
    position: relative;
    width: var(--ring-radius);
    height: var(--ring-radius);
    border-radius: 50%;
    box-shadow: 0px 0px 0px var(--ring-width) rgba(128,128,128,0.2);
    transition: 0.33s;
}

#input-viz-ring.hide {
    box-shadow: 0px 0px 0px 5px transparent;
    transition: 0.64s;
}

#input-viz-marker {
    position: absolute;
    top: calc(0px - var(--ring-width));
    left: calc(0px - var(--ring-width));
    width: var(--ring-radius);
    height: var(--ring-radius);
    border-radius: 50%;
    border: var(--ring-width) solid rgba(255,255,255,0.85);
    clip-path: polygon(50% 50%, 100% 40%, 100% 60%);
    opacity: 1;
    transition: opacity 0.5s;
}

#input-viz-ring.hide > #input-viz-marker {
    opacity: 0;
}

#snake-list {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    background-color: rgb(64,64,64);
    color: white;
    font-size: 12px;
    min-width: 230px;
}

#snake-list .snake {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    border-radius: 6px;
    overflow: hidden;
    padding: 2px;
}

#snake-list .snake:last-child {
    margin-bottom: 0;
}

#snake-list .snake .snake-info {
    color: black;
}

#snake-list .snake.skin0 {
    background-color: rgb(128, 191, 255);
}

#snake-list .snake.skin1 {
    background-color: rgb(255, 191, 128);
}

#snake-list .snake.skin2 {
    background-color: rgb(191, 255, 128);
}

#snake-list .snake .chunks {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-left: 5px;
}

#snake-list .snake .chunks .chunk-info {
    background-color: rgb(94, 94, 94);
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
    padding: 0px 2px;
}
