#snake-info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
    min-width: 100px;

    background-color: rgb(64, 64, 64);
    color: white;
    font-size: 12px;

    #snake-length {
        .label {
            margin-right: 6px;
        }
        .value {
            font-weight: bold;
            font-size: 14px;
            font-family: monospace;
        }
    }
}
