#snake-list {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    background-color: rgb(64, 64, 64);
    color: white;
    font-size: 12px;
    min-width: 100px;
    font-family: monospace;

    .snake {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        border-radius: 6px;
        overflow: hidden;
        padding: 2px;
        background-color: rgb(180, 180, 180);
        color: black;

        &:last-child {
            margin-bottom: 0;
        }

        &.target {
            background-color: rgb(230, 230, 230);
        }
    }
}
